.container{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.title{
    color: #404565;
    display: flex;
        justify-content: center;
        text-align: center;
}
